@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-background: rgb(37, 35, 35);
  --dark-foreground: #ededed;
  --accent-hover: #318970;
  --accent-active: #044e39;
  --accent-active-dark: #42a287;
  --accent-hover-dark: #10b981;
  --button-background: #e5e8e7;
  --button-background-dark: #414443; 
  --button-hover: #cdd1d0;
  --button-hover-dark: #333535;
  --tab-active: #286956;
  --tab-active-dark: #146a4e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(37, 35, 35);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
